<h1>Eldest director</h1>

<div>
  The eldest director in our dataset right now is <a href = "/directors/<%=@eldest_director_id%>"><%=@eldest_director_name%></a>, born on <%=@eldest_director_dob%>.
</div>
